.App {
  text-align: center;
}

.blue {
  color: lightblue;
  float: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color: lightskyblue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.star {
  height: 10px;
  width: 10px;
}
